.idea/
chopin_cleaned/
midi_utils/
mscx_files/
private_test/
test_pieces/performScore_test/
*.pyc
**/.DS_Store
dataset_test/
dataset*/
checkpoints/
test_result/*.mid
test_result/*.png
test_result/*.csv
.vscode/
wandb/
*.ipynb_checkpoints
pretrained_weights/
test_pieces/_ConcertCustomization
.vscode